<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de Compras</title>
    <link rel="stylesheet" href="../style/carrito.css">
</head>
<body>
    <header>
        <h1>Carrito de Compras</h1>
    </header>
    
    <section class="section-carrito">
        <div id="cart-items"></div>
        <div id="total-price"></div>
        
    </section>

   

    <section class="section-botones-vaciar-regresar">
        <div class="div-botones-vaciar-regresar">
            <button id="botton-vaiar-carrito" onclick="clearCart()">Vaciar Carrito</button>
            <button id="button-regresar-tienda" onclick="goToStore()">Regresar a la Tienda</button>
        </div>
    </section>
       
   
    
    <script src="/js/carrito.js"></script>
</body>
</html>
